* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    
    background-color: #E5E5E5;
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    background-color: #222222;
    color: white;
}

header div {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

h1 {
    margin-left: 20px;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul{
    display: flex;
}



header li {
    font-size: 16px;
    margin-right: 10px;
}



nav ul {
    list-style: none;
}

main {
    display: flex;
    justify-content: center;
}

.envio {

}

section {
    position: relative;
    top: 40px;
    border-radius: 5px;
    width: 490;
    height: 350;
    margin-left: 5px;
}

section div {
    display: flex;
    flex-wrap: wrap;
    width: 490px;
}

section.podio {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-wrap: wrap;
    width: 490px;
    height: 350px;
}

section.podio h3 {
    width: 490px;
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

section.podio h4 {
    font-size: 20px;
    margin-left: 70px;
    margin-bottom: 20px;
    width: 490px;
}

section ol {
    margin-left: 30px;
    position: relative;
    bottom: 40px;
}

section li {
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
}



section.podio div img {
    position: relative;
    left: 100px;
    bottom: 50px;
    width: 92px;
    height: 129px;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}

.envioGratis {
    position: absolute;
    top: 20px;
    left: 20px; 
    font-weight: bold;
    font-size: 24px;
    
}

.verde {
    color: #31853D;
}

.rojo {
    color: red;
}

.blanco {
    color: white;
}


footer {
    display: flex;
    background-color: #222222;
    color: white;
    position: absolute;
    bottom: -32px;
    width: 100%;
    
}



footer ul {
    display: flex;
    flex-direction: column;
    
}

footer li {
    margin-top: 10px;
}

footer div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    margin-right: 20px;
    
}

footer div img {
    margin-right: 20px;
}
